body {
    background: gray;
    margin= auto
}
h1 {
    text-align: center;
    color: blue;
}
h1 + p {
    text-align: center;
    color: maroon; 
    font-size: 20px;
}
#link-list {
    text-align: center;
}
#timmys-dad {
    text-align: center;
}
#sad-cat {
    text-align: center;
}
h2 {
    text-align: center;
}
#bottom-text {
    text-align: center;
}